---
title: Publications	 
permalink: "/collab"
---

{% include header.html %}

<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="">
						<div class="inner">
							<span class="image">
								<img src="{{site.url}}/assets/images/world.jpg" alt="" />
							</span>
							<header class="major">
								<h1>Collaborations</h1>
							</header>
							<div class="content">
								<p>Our research partners</p>
							</div>
						</div>
					</section>

					<!-- Main -->
					<div id="main">
						<section id='three'>
							<div class="inner">		
								<div class="table-wrapper">
								<table class="alt">
									<thead>
										<tr>
											<th>Investigator</th>
											<th>Institution</th>
											
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Prof. Francesco Battaglia</td>
											<td>Donders Institute for Brain Cognition and Behavior, Radboud University, Nijmegen, the Netherlands</td>
										</tr>
										<tr>
											<td>Dr. Andrea Barberis</td>
											<td>Italian Institute of Technology, Genoa, Italy</td>
										</tr>
										<tr>
											<td>Prof. Giovanni Valeri</td>
											<td>Bambino Gesù Hospital, Rome, Italy</td>
										</tr>
										
									</tbody>
								</table>
							</div>

							

							</div>
							
						</section>

						

					</div>

				
{% include contact.html %}
{% include footer.html %}