---
title: EBRI 
permalink: "/ebri"
---

{% include header.html %}

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="">
						<div class="inner">
							<span class="image">
								<img src="{{site.url}}/assets/images/rita.jpg" alt="" />
							</span>
							<header class="major">
								<h1>About Rita Levi Montalcini </h1>
							</header>
							<div class="content">
								<p>Founder of European Brain Research Institute</p>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>About Rita Levi-Montalcini</h2>
									</header>
									<p><span class="image right"><img src="{{site.baseurl}}assets/images/rita.jpg" alt="" /></span>
									Rita Levi Montalcini was born on April 22, 1909 in Turin, together with her twin sister Paola. He graduated in medicine at the Institute of Human Anatomy of the University of Turin with Prof. Giuseppe Levi. Since the early years of university he has devoted himself to the study of the nervous system. <br><br>
									
									In 1938 the proclamation of the racial laws forbade her to continue her studies at the university. This does not prevent her from continuing her studies on the mechanisms of differentiation of the nervous system first in Belgium and then again in Turin in 1940, in a small private laboratory. During the German occupation, she and her family spend a time in Florence hiding from the Nazis, but keeping in constant contact with the leaders of the Action Party.<br><br>

									At the invitation of Prof. Viktor Hamburger in 1947 he moved to the United States at Washington University in St Louis in Missouri, to continue the research begun in Turin and to teach neurobiology. In 1952 he went to Brazil to continue his in vitro culture experiments at the Institute of Biophysics of the University of Rio de Janeiro, as a guest of the director Prof. Carlo Chagas.<br><br>

									The experiments carried out in Brazil in December 1952 lead to the identification of the growth factor of nerve cells (Nerve Growth Factor, acronym NGF). Following her return to St. Louis in the winter of 1953, she is joined in research by the young biochemist Stanley Cohen. Together, using the in vitro system designed by Rita Levi Montalcini, they carry out the first biochemical characterization of the growth factor.<br><br>

									This work was awarded the Nobel Prize for Medicine in 1986.<br><br>

									In 1969 he settled permanently in Italy to take over the direction of the CNR Institute of Cell Biology in Rome, to which he still dedicates part of his time. From 1983 to 1998 he directed the Institute of the Italian Encyclopedia, he is also a member of the most prestigious scientific academies, such as the Accademia Nazionale dei Lincei, the Pontifical Academy, the Academy of Sciences, the National Academy of Sciences in the USA and the Royal Society.<br><br>

									She is president of the Rita Levi-Montalcini Onlus Foundation, which finances scholarships to support the education of African women. In 2001 she was appointed senator for life by the President of the Republic. In 2002 she founded EBRI of which she was President until her death on 30 December 2012 at the age of 103. 	
									 </p>

									
								</div>
							</section>

							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>Research at EBRI </h2>
									</header>
									<p>
										EBRI pursues its scientific goals by implementing different approaches to the study of neuroscience. Specially trained scientists use molecular and cellular biology, genetics, biophysics, bioinformatics, genomics and proteomics, electrophysiology and nanotechnology techniques.<br><br>


											The main research activities concern the study of:

											<ul>
												<li>Neurotrophic Factors and Neurodegenerative Diseases</li>
												<li>Metabolism of mRNA in the central nervous system</li>
												<li>Pharmacology of Synaptic Plasticity</li>
												<li>Endocannabinoids and Central Mechanisms of Neuropathic Pain</li>
												<li>Stem Cells and Neurogenesis</li>
												<li>Nervous Growth Factor</li>
												<li>Cortical microcircuits</li>
												<li>Mechanisms of Neuronal and Synaptic Plasticity</li>
											</ul>
											The research uses an integrated technological platform that combines:
											<ul>
												<li>Functional genomics</li>
												<li>Confocal microscopy</li>
												<li>Cultures of neuronal cells</li>
											</ul>

											For more information, please visit EBRI's <a href="http://ebri.it/" target="_blank">official website</a>
									</p>

								</div>								
						</section>

											

					</div>

{% include contact.html %}
{% include footer.html %}