---
title: Encrico Cherubini	 
permalink: "/enrico"
---

{% include header.html %}

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="">
						<div class="inner">
							<span class="image">
								<img src="{{site.url}}/assets/images/enrico_landing.jpg" alt="" />
							</span>
							<header class="major">
								<h1>Prof. Enrico Cherubini</h1>
							</header>
							<div class="content">
								<p>Biography, Research Interests and Scientific Contributions</p>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>Biography</h2>
									</header>
									<p><span class="image right"><img src="{{site.baseurl}}assets/images/enrico2_passport.jpg" alt="" /></span>
									Enrico Cherubini was born in Rome, Italy on  Jan 20, 1945. In 1968, after obtaining his degree (M.D) in Medicine and Surgery he spent few months in Dublin working with autistic children at Trinity College under the with Prof. Ingo Fisher. He spent a year in  Marseille, France with Prof. H. Gastaut, a leading figure in the field of Epilepsy, he obtained the "Attestation d'Etude d'Electroencephalographie Clinique". After spending several years at the Institute of Child Neurology at the University of Rome where he contributed to build up the Clinical Neurophysiology Unit,  in 1981 he decided to dedicate himself exclusively to basic research.<br><br>

									After a period of about 15 years abroad, at UCLA in Los Angeles and at MIT in Boston as post-doctoral researcher and in Paris, as Directeur de Recherche at INSERM as a group leader, he returned to Italy in 1991 as Full Professor of Physiology at SISSA in Trieste. Here he directed the Department of Biophysics and then of Neurobiology for many years. Retired from SISSA, in 2014, he was appointed as the scientific director of European Brain Research Institute in Rome by Rita Levi-Montalcini.<br><br>

									He served on various grants committee at national [CNR, MIUR (Italy)] and international [INSERM, CNRS, ANR, Ministere de la Recherche (France), European Commission, MRC, Oxford (UK), Riken Institute (Japan) and the Human Frontiers Science Program ] levels. He was a member of the Advisory Board of the Institut Pasteur of Montevideo (Uruguay). From 2011 to 2013 he was President of the Italian Society of Neuroscience. </p>

									
								</div>
							</section>

							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>Research Interests</h2>
									</header>
									<p>Over the years, he has provided a series of fundamental studies aimed at understanding the functional role of GABAergic signaling early in postnatal development in both physiological and pathological conditions. He discovered the excitatory action of GABA during postnatal development and characterized network driven GABAA-mediated oscillatory activity in the immature hippocampus. He provided important contributions for understanding how ion  channels control neuronal excitability and neurotransmission
									</p>

								</div>								
						</section>

						<section id='three'>
							<div class="inner">
								<header class="major">
									<h2>Key Publications</h2>
								</header>
								<div class="table-wrapper">
								<table class="alt">
									<thead>
										<tr>
											<th>Year</th>
											<th>Title</th>
											
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>2014</td>
											<td>Antonelli R et al. Pin1-dependent signalling negatively affects GABAergic transmission by modulating neuroligin2/gephyrin interaction. Nat. Commun. 5:5066 doi: 10.1038/ncomms6066</td>
										</tr>
										<tr>
											<td>2013</td>
											<td>Caiati MD et al. PrPC controls via PKA the direction of synaptic plasticity in the immature hippocampus. J Neurosci 33:2973-2983. Highlighted in Nature News doi:10.1038/nature.2013.12428 </td>
										</tr>
										<tr>
											<td>2000</td>
											<td>Gasparini S et al. Silent synapses in the developing hippocampus: lack of functional AMPA receptors or low probability of glutamate release? Proc Natl Acad Sci USA 97: 9741-9746 (2000) </td>
										</tr>
										<tr>
											<td>1991</td>
											<td>Cherubini E et al. GABA: an excitatory transmitter in early postnatal life. TINS, 14: 515-519</td>
										</tr>
										<tr>
											<td>1987</td>
											<td>Cherubini E et al. A bee venom peptide induces long term potentiation of synaptic transmission in the hippocampus. Nature 328: 70-73</td>
										</tr>




										
									</tbody>
									
								</table>
							</div>

							</div>
							
						</section>

						

					</div>

{% include contact.html %}
{% include footer.html %}