---
title: Research Lines 
permalink: "/people"
---

{% include header.html %}

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="">
						<div class="inner">
							<span class="image">
								<img src="{{site.url}}/assets/images/mouse_social_landing2.jpg" alt="" />
							</span>
							<header class="major">
								<h1>Lab Members</h1>
							</header>
							<div class="content">
								<p>Current Team and Alumni</p>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">	

						<!-- Two -->
							<section id="two" class="spotlights">
								<div class="inner">
								<header class="major">
										<h2>Current Team</h2>
								</header>
								</div>
								<section class="theme_color1"> 

									
									<span href="" class="image">
										<img src="{{site.url}}/assets/images/enrico.jpg" alt="" data-position="top center" />
									</span>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Prof. Enrico Cherubini</h3>
											</header>

											<p><i>Principal Investigator</i><br>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.ullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condime</p>
											
										</div>
									</div>
								</section>
								<section class="theme_color1">
									<span href="" class="image">
										<img src="{{site.url}}/assets/images/marilena2.jpg" alt="" data-position="top center" />
									</span>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Dr. Marilena Griguoli</h3>
											</header>
											<p><i>Senior Scientist</i><br>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
											
										</div>
									</div>
								</section>
								
								<section class="theme_color1">
									<span href="" class="image">
										<img src="{{site.url}}/assets/images/domenico2.jpg" alt="" data-position="top center" />
									</span>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Dr. Domenico Pimpinella</h3>
											</header>
											<p><i>Postdoctoral Fellow</i><br>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
											
										</div>
									</div>
								</section>

								<section class="theme_color1">
									<span href="" class="image">
										<img src="{{site.url}}/assets/images/brijesh.jpeg" alt="" data-position="top center" />
									</span>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Brijesh Modi</h3>
											</header>
											<p><i>Doctoral Candidate</i><br>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
											
										</div>
									</div>
								</section>

							</section>

					<!-- <div class="inner"> -->
								


							<section id='three'>
							<div class="inner">	
								<header class="major">
									<h2>Lab Alumni :: Postdoctoral Researchers</h2>
								</header>	
								<div class="table-wrapper">
									<table class="alt">
										<thead>
											<tr>
												<th>Name</th>
												<th>Last Known Positions</th>					
												
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>M. Sciancalepore </td>
												<td>Assistant Professor of Physiology, Trieste University, Italy</td>
											</tr>
											<tr>
												<td>Y. Hosokawa</td>
												<td>Assistant Professor, Dept. Neuro-informatics, Tokyo University, Japan</td>
											</tr>
											<tr>
												<td>AB Zhainazarov</td>
												<td>Associate Prof, Department of Neuroscience, University of Florida, USA</td>
											</tr>
											<tr>
												<td>PR Andjus </td>
												<td>University of Belgrade, Serbia</td>
											</tr>
											<tr>
												<td>JW Mozrzymas</td>
												<td>Full Professor, Biophysics, Wroclaw Medical University</td>
											</tr>
											<tr>
												<td>N. Beretta</td>
												<td>IRCCS Santa Lucia, Roma</td>
											</tr>
											<tr>
												<td>MR Domenici</td>
												<td>Italian National Institute of Health, Rome</td>
											</tr>
											<tr>
												<td>P. Aguilera</td>
												<td>Assistant Professor, Instituto Clemente Estable, Montevideo, Uruguay</td>
											</tr>
											<tr>
												<td>L. Maggi</td>
												<td>Assistant Professor of Physiology, University of Roma</td>
											</tr>
											
										</tbody>
									</table>
								</div>

								<header class="major">
									<h2>Lab Alumni :: Ph.D Students</h2>
								</header>	
								<div class="table-wrapper">
									<table class="alt">
										<thead>
											<tr>
												<th>Name</th>
												<th>Last Known Positions</th>					
												
											</tr>
										</thead>
										<tbody>
											<tr><td>X. Zheng</td><td> Associate Prof at Albert Einstein College of Medicine, New York, USA</td></tr> 
											<tr><td>G. Kilic’</td><td> Assistant Prof, University of Colorado, Denver, USA</td></tr>
											<tr><td>F. Strata</td><td> Assistant Prof University of Parma, Italy</td></tr>
											<tr><td>S. Gasperini</td><td> Assistant Prof at LSU, New Orleans;</td></tr>
											<tr><td>M. Martina</td><td> Associate Professor at Northwestern University, USA</td></tr>
											<tr><td>M. Canepari</td><td> Researcher, INSERM, Grenoble, France;</td></tr>
											<tr><td>E. Avignone</td><td> Researcher, IINS, Bordeaux, France</td></tr>
											<tr><td>C. Le Magueresse</td><td>Researcher, Institut Fer à Moulin, Paris;</td></tr>
											<tr><td>A. Barberis</td><td> Sr. Researcher (Tenured), IIT, Genova, Italy</td></tr>
											<tr><td>M. Mohajerani</td><td>  Assistant Prof. at the University of Lethbridge, Canada</td></tr>
											<tr><td>R. Pizzarelli</td><td>Triller’s lab at Ecole Normale Supérièure, Paris, France</td></tr>
											<tr><td> D. Caiati</td><td>Hensch’s lab at Harvard University, USA</td></tr>
										</tbody>
									</table>
								</div>

						

							</div>
							
						</section>

							

				</div>	

{% include contact.html %}

{% include footer.html %}