---
title: Research Lines 
permalink: "/prospective"
---

{% include header.html %}

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="">
						<div class="inner">
							<span class="image">
								<img src="{{site.url}}/assets/images/sailboat2_landing.jpeg" alt="" />
							</span>
							<header class="major">
								<h1>Prospective Students</h1>
							</header>
							<div class="content">
								<p>Join us in our scientific quest</p>
							</div>
						</div>
					</section>

			
					<!-- Main -->
					<div id="main">

						<section id='three'>
							<div class="inner">	
								<header class="major">
									<h2>For Bachelors, Masters and Erasmus Students </h2>
								</header>	
									<p>
										Students interested in pursuing their bachelors/masters thesis or erasmus project in the lab please contact  Dr. Marilena Griguoli (<i>m.griguoli[at]ebri.it</i> ) and Prof. Enrico Cherubini (<i>cher[at]sissa.it</i> ) via email with their CV and a brief research statement.
									</p>
								

								<header class="major">
									<h2>For Ph.D and Postdoctoral Researchers</h2>
								</header>
									<p>
										We are always looking for qualified and highly motivated people.
										Researchers interested in pursuing their doctoral/postdoctoral research in the lab please contact  Dr. Marilena Griguoli (<i>m.griguoli[at]ebri.it</i> ) and Prof. Enrico Cherubini (<i>cher[at]sissa.it</i> ) via email with their CV, brief research statement and 2 references.
									</p>
							

						

							</div>
							
						</section>



							

					</div>	

{% include contact.html %}

{% include footer.html %}