---
title: Publications	 
permalink: "/publications"
---

{% include header.html %}

<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="">
						<div class="inner">
							<span class="image">
								<img src="{{site.url}}/assets/images/collage_landing.jpg" alt="" />
							</span>
							<header class="major">
								<h1>Publications</h1>
							</header>
							<div class="content">
								<p>Recent Research Articles</p>
							</div>
						</div>
					</section>

					<!-- Main -->
					<div id="main">
						<section id='three'>
							<div class="inner">		
								<div class="table-wrapper">
								<table class="alt">
									<thead>
										<tr>
											<th>Year</th>
											<th>Title and Authors</th>
											
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>2020</td>
											<td>Tuning GABAergic inhibition: gephyrin molecular organization and functions R Pizzarelli, M Griguoli, P Zacchi, EM Petrini, A Barberis, A Cattaneo, ...Neuroscience 439, 125-136</td>
										</tr>
										<tr>
											<td>2020</td>
											<td>Computational modeling of inhibitory transsynaptic signaling in hippocampal and cortical neurons expressing intrabodies against gephyrin CA Lupascu, A Morabito, F Ruggeri, C Parisi, D Pimpinella, R Pizzarelli, ... Frontiers in Cellular Neuroscience 14, 173 </td>
										</tr>
										<tr>
											<td>2020</td>
											<td>Immature dentate granule cells require Ntrk2/Trkb for the formation of functional hippocampal circuitry S Badurek, M Griguoli, A Asif-Malik, B Zonta, F Guo, S Middei, ...Iscience 23 (5) </td>
										</tr>
										<tr>
											<td>2019</td>
											<td>Possible implication of the CA2 hippocampal circuit in social cognition deficits observed in the neuroligin 3 knock-out mouse, a non-syndromic animal model of Autism B Modi, D Pimpinella, A Pazienti, P Zacchi, E Cherubini, M Griguoli Frontiers in psychiatry 10, 513</td>
										</tr>
										<tr>
											<td>2017</td>
											<td>Early correlated network activity in the hippocampus: its putative role in shaping neuronal circuits M Griguoli, E Cherubini Frontiers in cellular neuroscience 11, 255</td>
										</tr>
										<tr>
											<td>2016</td>
											<td>Premature changes in neuronal excitability account for hippocampal network impairment and autistic-like behavior in neonatal BTBR T+ tf/J mice G Cellot, L Maggi, MA Di Castro, M Catalano, R Migliore, M Migliore, ...Scientific reports 6, 31696</td>
										</tr>
										<tr>
											<td>2016</td>
											<td>Presynaptic BK channels control transmitter release: physiological relevance and potential therapeutic implications M Griguoli, M Sgritta, E Cherubini The Journal of physiology 594 (13), 3489-3500</td>
										</tr>
									</tbody>
								</table>
							</div>

							<p>Please contact Prof. Cherubini incase articles are unaccessible.</p>

							</div>
							
						</section>

						

					</div>

				
{% include contact.html %}
{% include footer.html %}