---
title: Research Lines 
permalink: "/research"
---

{% include header.html %}

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="">
						<div class="inner">
							<span class="image">
								<img src="{{site.url}}/assets/images/golgi_landing.jpg" alt="" />
							</span>
							<header class="major">
								<h1>Research Lines</h1>
							</header>
							<div class="content">
								<p>The lab investigates the cortical and sub-cortical <br> brain regions at various scales ranging from individual synapses to large scale networks</p>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>Overview of Techniques</h2>
									</header>
									<p>Over the course of 3 decades, the lab has adapted various state-of-the-art techniques to unravel the principles of neural computation 
									<ul>
										<li>Patch clamp from acute brain slices</li>
										<li><i>In-vivo</i> recordings during anethetized and head-restrained conditions</li>
										<li><i>In-vivo</i> recordings from freely behaving animals</li>
										<li>Optogenetic and chemogenetic interventions combined with eletrophysiology and behavior</li>
										<li>Immunohistochemistry</li>
									</ul>	    
									</p>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="spotlights">
								<div class="inner">
								<header class="major">
										<h2>Ongoing Research Projects</h2>
								</header>
								</div>
								<section class="theme_color1"> 

									
									<span href="" class="image">
										<img src="{{site.url}}/assets/images/mouse_social.jpg" alt="" data-position="center center" />
									</span>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Role of Cholinergic System in Social Memory</h3>
											</header>
											<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.ullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condime</p>
											
										</div>
									</div>
								</section>
								<section class="theme_color1">
									<span href="" class="image">
										<img src="{{site.url}}/assets/images/synapse2.jpg" alt="" data-position="top center" />
									</span>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Trans-synaptic signalling in Autism Spectrum Disorders </h3>
											</header>
											<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
											
										</div>
									</div>
								</section>
								<section class="theme_color1">
									<span href="" class="image">
										<img src="{{site.url}}/assets/images/lorenz.jpg" alt="" data-position="25% 25%" />
									</span>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>State Space Evolution of Hippocampal Network</h3>
											</header>
											<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
											
										</div>
									</div>
								</section>
							</section>

						<!-- Three -->
								<!-- <section id="three">
									<div class="inner">
										<header class="major">
											<h2>Massa libero</h2>
										</header>
										<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
										<ul class="actions">
											<li><a href="generic.html" class="button next">Get Started</a></li>
										</ul>
									</div>
								</section>
 -->
					</div>

{% include contact.html %}

{% include footer.html %}