<section id="two" class="theme_color1">
	<div class="inner">
		<header class="major">
			<h2>Contact</h2>
		</header>
		<div class="row" >
			<div class="col-6 col-12-small" style="border-right: 0.025em dotted gray">
				<h3>Address</h3>
				<p>European Brain Research Institute<br>
					Fondazione Rita Levi-Montalcini<br>
					Viale Regina Elena 295<br>
					Rome, 00161<br>
					Italy
				</p>
			</div>
			<div class="col-6 col-12-small " >
				<section class="split">
					<section>
						<div class="contact-method">
							<span class="icon solid alt fa-envelope"></span>
							<h3>Email</h3>
							<span href="$">cher[at]sissa.it</span>
						</div>
					</section>
					<section>
						<div class="contact-method">
							<span class="icon solid alt fa-phone"></span>
							<h3>Phone</h3>
							<span>(000) 000-0000 x12387</span>
						</div>
					</section>
				</section>
			</div>
		</div>
	</div>
</section>

				