---
<!-- layout: header_footer -->
permalink: "/home/"
---

{% include header.html %}

				<!-- Banner -->
					<section id="banner" class="major" 
					style="background-image:url({{site.baseurl}}/assets/images/network_brain.jpg) ">
						<div class="inner">
							<header class="major">
								<h1>Cortical Microcircuits Lab</h1>
							</header>
							<div class="content12">
								<p>Our lab investigates cortical and sub-cortical networks underlying social behavior and its alterations in Autism Spectrum Disorders. <br>We are located at European Brain Research Institute - Fondazione Rita Levi-Montalcini<br>Roma, Italia.</p>
								<!-- <ul class="actions">
									<li><a href="#one" class="button next scrolly">Get Started</a></li>
								</ul> -->
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="{{site.baseurl}}assets/images/rats3.jpeg" alt="" />
									</span>
									<header class="major">
										<h3><a href="{{site.url}}/research" class="link">Research Lines</a></h3>
										<span>Ongoing Projects and Techniques</span>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{{site.baseurl}}assets/images/enrico.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="{{site.url}}/enrico" class="link">Prof. Enrico Cherubini</a></h3>
										<span>Principal Investigator</span><br>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{{site.baseurl}}assets/images/pub_collage.jpeg" alt="" />
									</span>
									<header class="major">
										<h3><a href="{{site.url}}/publications" class="link">Publications</a></h3>
										<span>Recent Research Articles</span>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{{site.baseurl}}assets/images/lab_members.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="{{site.url}}/people" class="link">Lab Members</a></h3>
										<span>Current Team and Alumni</span>
									</header>
								</article>
								
													

								<article>
									<span class="image">
										<img src="{{site.baseurl}}assets/images/world.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="{{site.url}}/collab" class="link">Collaborations</a></h3>
										<span>Research Partners</span>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{{site.baseurl}}assets/images/sailboat2.jpeg" alt="" />
									</span>
									<header class="major">
										<h3><a href="{{site.url}}/prospective" class="link">Prospective Students</a></h3>
										<span>Join us in our scientific quest</span>
									</header>
								</article>
								
								
								<article>
									<span class="image">
										<img src="{{site.baseurl}}assets/images/rita.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="{{site.url}}/ebri" class="link">About EBRI</a></h3>
										<span class="">Fondazione Rita Levi-Montalcini</span>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="{{site.baseurl}}assets/images/euros2.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="{{site.url}}/funding" class="link">Funding Sources</a></h3>
										<span>Research Grants and Donations</span>
									</header>
								</article>
							</section>

						<!-- Two -->
							<section id="two" class="theme_color1">
								<div class="inner">
									<header class="major">
										<h2>Contact</h2>
									</header>
									<div class="row" >
										<div class="col-6 col-12-small" style="border-right: 0.025em dotted gray">
											<h3>Address</h3>
											<p>European Brain Research Institute<br>
												Fondazione Rita Levi-Montalcini<br>
												Viale Regina Elena 295<br>
												Rome, 00161<br>
												Italy
											</p>
										</div>
										<div class="col-6 col-12-small " >
											<section class="split">
												<section>
													<div class="contact-method">
														<span class="icon solid alt fa-envelope"></span>
														<h3>Email</h3>
														<span href="$">cher[at]sissa.it</span>
													</div>
												</section>
												<section>
													<div class="contact-method">
														<span class="icon solid alt fa-phone"></span>
														<h3>Phone</h3>
														<span>(000) 000-0000 x12387</span>
													</div>
												</section>
											</section>
										</div>
									</div>
								</div>
							</section>

					</div>



{% include footer.html %}